@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<!-- preloader area start -->
@*@if (!Loaded)
{
    <div class="preloader" id="preloader">
        <div class="loader loader-1">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
}*@

<NavMenu />
@Body


@code {

    private bool Loaded = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.NavigateTo("/");
        }
        Loaded = true;
    }
}
